.Weather-title {
    padding: 5px;
    text-decoration: underline yellowgreen;
}

.high {
    color: red;
}

.low {
    color: blue;
}

.name {
    text-shadow: 2px black;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
